---
import TeamCard from '../components/TeamCard.astro';
import { teams } from '../data/equipos.js';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>NFL Teams</title>
  </head>
  <body>
    <TeamCard team={teams[0]} />
  </body>
</html>